#
# ~/.bashrc
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias v='vim'
alias st-build='cd ~/.config/suckless/st && sudo make install'
export EDITOR=nvim
export MANGPAGER='nvim +Man!'


PS1='[\u@\h \W]\$ '
